html {
	font-family: Arial;
}
body {
	background: url(../img/back.png) 100% 100% no-repeat;
	background-size: cover;
	background-position: top;
	}
.wrapper {
	width: 1000px;
	margin: auto;
	background: #fff;
	box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.75);
}

/*HEADER*/
header {
	padding-top: 15px;
	margin: 0px 40px;
	color: #128aa7;
	font-size: 12px;
	line-height: 22px;
}
header h3 {
	font-weight: bold;
}
header a {
	color: #128aa7;
}
.logo {
	float: left;
	width: 283px;
	height: 164px;
}
.contact {
	float: right;
}
.contact a {
	text-decoration: none;
}
.countries {
	clear: right;
}
.countries table {
	margin-left: 580px;
}
.countries td{
	text-align: center;
	margin: auto;
	width: 60px;
	font-size: 10px;
	padding-top: 12px;
}
.countries img {
	display: block;
	margin: auto;
}

/*MAIN*/
.pic {
	clear: both;
	height: 237px;
}
.pic img {
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;
}

/*MENU*/
.main-menu {
	background-color: #303030;
	height: 31px;
	box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75);
	z-index: 5;
	position: relative;

}
.main-menu li{
	display: inline-block;
	padding-right: 45px;
	padding-left: 15px;
	position: relative;
}
.main-menu li:first-child {
	padding-left: 40px;
}
.main-menu a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	line-height: 31px;
	vertical-align: middle;
}
.submenu {
    display: none;
    position: absolute;
    top: 31px;
    left: 0px;
    background-color: #303030;
}
.submenu li {
	white-space: nowrap;
	padding-left: 15px;
}
.submenu li:first-child {
	padding-left: 15px;
}
.submenu a {
    padding: 0px;
    color: white;
    background-color: #303030;
    text-decoration: none;
    display: block;
}

.main-menu > li:hover .submenu {
    display: block;
}

/*COLUMNS*/
.info {
	float: left;
	border-right: 1px solid #a7aaae;
	width: 210px;
	background: #edeef0;
	color: #424c43;
	text-align: center;
	background-image: url(../img/greyback.png);
	height: 546px;
}
.news {
	float: right;
	width: 210px;
	border-left: 1px solid #a7aaae;
	background: #edeef0;
	color: #424c43;
	text-align: center;
	background-image: url(../img/greyback.png);
	height: 546px;
}
.info a{
	color: #424c43;
	text-decoration: none;
	line-height: 24px;
	font-size: 14px;
}
.news a{
	color: #424c43;
	text-decoration: none;
	line-height: 24px;
	font-size: 14px;
}
h2 {
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;
}
main:after {
	content: '';
	clear: both;
	display: block;
}

/*FOOTER*/
.reserved {
	text-align: center;
	color: #fff;
	font-size: 12px;
	margin-top: 14px;
	margin-bottom: 14px;
}